* {
    margin: 0;
    padding: 0;
}

.wrapper {
    width: 600px;
    margin: 20px auto;
}

.menu li {
    display: inline;
    margin-bottom: -1px;
    margin-left: 5px;
    border: 2px solid #ddd;
    border-radius: 3px 3px 0 0;
    list-style: none;
    cursor: pointer;
}

.menu-item a {
    text-decoration: none;
}

.tabs-text {
    display: none;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 6px;
}

.tabs-text.tab-active {
    display: inline-block;
}
